.connect4-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 550px;
    margin: 25px;
    padding: 10px;
    border: 2px solid #333;
    background-color: #4eefea;
}

.col:hover {
    cursor: pointer;
}

.cell {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 2px;
    
}

div.col:hover > div:first-child {
    background-color: rgba(255, 0, 0, 0.711);
}

.null {
    background-color: white;
}

.Red {
    background-color: red;
}

.Yellow {
    background-color: yellow;
}
