.App {
    display: flex;
    flex-direction: column;
    h1 {
        text-align: center;
    }
}

.dropdown {
    display: flex;
    justify-content: flex-end;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .sidePanel {
        display: flex;
        flex-direction: column;
    }
}
